<a href="https://colab.research.google.com/github/JimKing100/nfl-test/blob/master/Actuals_Defense.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
player_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/players.csv')
defense_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/defense.csv')
game_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/game.csv')

In [3]:
player_df.head()

  player          first     last                 name position1
0     SF  San Francisco    49ers  San Francisco 49ers        DF
1    CHI        Chicago    Bears        Chicago Bears        DF
2    CIN     Cincinnati  Bengals   Cincinnati Bengals        DF
3    BUF        Buffalo    Bills        Buffalo Bills        DF
4    DEN         Denver  Broncos       Denver Broncos        DF

In [4]:
defense_df.head()

  team  week  2000  2001  2002  2003  ...  2014  2015  2016  2017  2018  2019
0  ARI     1     4     1   3.0     0  ...     2     4     6     9   5.0     5
1  ARI     2     7     2   5.0     1  ...     8    12    18     6   4.0     2
2  ARI     3     3    12   4.0     4  ...     3    24     8     1   7.0     4
3  ARI     4     3     6  13.0     3  ...     5     1     4     5   2.0     4
4  ARI     5     1     5  10.0     3  ...    16    13    13     3  20.0     1

[5 rows x 22 columns]

In [5]:
game_df.head()

   gid  seas  wk  day    v  ...       surf    ou  sprv  ptsv  ptsh
0    1  2000   1  SUN   SF  ...  AstroTurf  42.5   7.0    28    36
1    2  2000   1  SUN  JAC  ...      Grass  38.0 -10.0    27     7
2    3  2000   1  SUN  PHI  ...  AstroTurf  40.0   6.0    41    14
3    4  2000   1  SUN  NYJ  ...      Grass  36.0   2.5    20    16
4    5  2000   1  SUN  IND  ...      Grass  44.0  -3.0    27    14

[5 rows x 17 columns]

In [0]:
# Pull the stats to calculate the defense_db team points
def pull_stats(df1, df2, t, y, w):
    t_points = df1[y].loc[(df1['team']==t) & (df1['week']==w)].iloc[0]

    team_nameh = df2['h'].loc[(df2['seas']==int(y)) & (df2['wk']==w) & ((df2['v']==t) | (df2['h']==t))].iloc[0]
    team_namev = df2['v'].loc[(df2['seas']==int(y)) & (df2['wk']==w) & ((df2['v']==t) | (df2['h']==t))].iloc[0]

    if team_nameh == t:
        p_points = df2['ptsh'].loc[(df2['seas']==int(y)) & (df2['wk']==w) & ((df2['v']==t) | (df2['h']==t))].iloc[0]
    else:
        p_points = df2['ptsv'].loc[(df2['seas']==int(y)) & (df2['wk']==w) & ((df2['v']==t) | (df2['h']==t))].iloc[0]

    d_points = t_points + p_points
    
    return d_points

In [7]:
team = 'ARI'
year = '2000'
week = 1

weekly_dpoints = pull_stats(defense_df, game_df, team, year, week)
weekly_dpoints

20

In [8]:
player_df.head()

  player          first     last                 name position1
0     SF  San Francisco    49ers  San Francisco 49ers        DF
1    CHI        Chicago    Bears        Chicago Bears        DF
2    CIN     Cincinnati  Bengals   Cincinnati Bengals        DF
3    BUF        Buffalo    Bills        Buffalo Bills        DF
4    DEN         Denver  Broncos       Denver Broncos        DF

In [0]:
def add_row(df, p, f, l, n, pos, value_list):

    df = df.append({'player': p,
                    'first': f,
                    'last': l,
                    'name': n,
                    'position1': pos,
                    '2000-game1': value_list[0], 
                    '2000-game2': value_list[1],
                    '2000-game3': value_list[2], 
                    '2000-game4': value_list[3], 
                    '2000-game5': value_list[4], 
                    '2000-game6': value_list[5], 
                    '2000-game7': value_list[6], 
                    '2000-game8': value_list[7], 
                    '2000-game9': value_list[8],
                    '2000-game10': value_list[9],
                    '2000-game11': value_list[10],
                    '2000-game12': value_list[11],
                    '2000-game13': value_list[12],
                    '2000-game14': value_list[13],
                    '2000-game15': value_list[14],
                    '2001-game1': value_list[15], 
                    '2001-game2': value_list[16],
                    '2001-game3': value_list[17], 
                    '2001-game4': value_list[18], 
                    '2001-game5': value_list[19], 
                    '2001-game6': value_list[20], 
                    '2001-game7': value_list[21], 
                    '2001-game8': value_list[22], 
                    '2001-game9': value_list[23],
                    '2001-game10': value_list[24],
                    '2001-game11': value_list[25],
                    '2001-game12': value_list[26],
                    '2001-game13': value_list[27],
                    '2001-game14': value_list[28],
                    '2001-game15': value_list[29]
                     }, ignore_index=True)
    
    return df

In [27]:
column_names = ['player',
                'first',
                'last',
                'name',
                'position1', 
                '2000-game1',
                '2000-game2',
                '2000-game3', 
                '2000-game4', 
                '2000-game5', 
                '2000-game6', 
                '2000-game7', 
                '2000-game8', 
                '2000-game9',
                '2000-game10',
                '2000-game11',
                '2000-game12',
                '2000-game13',
                '2000-game14',
                '2000-game15',
                '2001-game1', 
                '2001-game2',
                '2001-game3', 
                '2001-game4', 
                '2001-game5', 
                '2001-game6', 
                '2001-game7', 
                '2001-game8', 
                '2001-game9',
                '2001-game10',
                '2001-game11',
                '2001-game12',
                '2001-game13',
                '2001-game14',
                '2001-game15'
                 ]

player = 'SF'
first = 'San Francisco'
last = '49ers'
name = 'San Francisco 49ers'
position1 = 'DF'

team = 'SF'

final_df = pd.DataFrame(columns = column_names)
player_scores = []

for i in range(2000,2002):
    for j in range(1,18):
        year = i
        week = j

        if ((game_df['h'].loc[(game_df['seas']==year) & (game_df['wk']==week) & ((game_df['v']==team) | (game_df['h']==team))].empty) & (game_df['v'].loc[(game_df['seas']==year) &
           (game_df['wk']==week) & ((game_df['v']==team) | (game_df['h']==team))].empty)):
            x = 0
        else:
            score = pull_stats(defense_df, game_df, team, str(year), week)
            #player_scores.append(score)

player_scores

IndexError: ignored