<a href="https://colab.research.google.com/github/JimKing100/nfl-test/blob/master/Weekly_Scoring.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
qb_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data/qb-2019-weekly.csv')
rec_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data/rec-2019-weekly.csv')
rush_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data/rush-2019-weekly.csv')
rank_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data/teamranking-2019-weekly.csv')

In [3]:
qb_df.head()

   Rk           Player Pos     Age  ...  Pass Sk Pass Sk Yds Pass Y/A Pass AY/A
0   1    Lamar Jackson  QB  22.244  ...        1           1    16.20     21.20
1   2     Dak Prescott  QB  26.041  ...        0           0    12.66     15.16
2   3   Robert Griffin  QB  29.208  ...        0           0     9.17     12.50
3   4  Patrick Mahomes  QB  23.356  ...        0           0    11.45     13.27
4   5     Kirk Cousins  QB  31.020  ...        1           1     9.80     11.80

[5 rows x 24 columns]

In [4]:
rec_df.head()

   Rk          Player Pos     Age  ... Rec Y/R Rec TD Rec Ctch% Rec Y/Tgt
0   1   Sammy Watkins  WR  26.086  ...   22.00      3    81.80%     18.00
1   2  Michael Gallup  WR  23.157  ...   22.57      0   100.00%     22.57
2   3       John Ross  WR  24.285  ...   22.57      2    58.30%     13.17
3   4  DeSean Jackson  WR  32.281  ...   19.25      2    88.90%     17.11
4   5  Marquise Brown  WR  22.096  ...   36.75      2    80.00%     29.40

[5 rows x 20 columns]

In [5]:
rush_df.head()

    Rk               Player Pos     Age  ... Rush Att Rush Yds Rush Y/A Rush TD
0  1.0          Marlon Mack  RB  23.185  ...     25.0    174.0     6.96     1.0
1  2.0  Christian McCaffrey  RB  23.093  ...     19.0    128.0     6.74     2.0
2  3.0       Saquon Barkley  RB  22.211  ...     11.0    120.0    10.91     0.0
3  4.0          Dalvin Cook  RB  24.029  ...     21.0    111.0     5.29     2.0
4  5.0          Mark Ingram  RB  29.261  ...     14.0    107.0     7.64     2.0

[5 rows x 17 columns]

In [6]:
rank_df.head()

   Rank Week1 Week2 Week3 Week4 Week5  ... Week12 Week13 Week14 Week15 Week16 Week17
0     1   NWE   NWE   NWE   NWE   NWE  ...    NWE    NWE    BAL    BAL    BAL    BAL
1     2   KAN   KAN   KAN   KAN   KAN  ...    BAL    BAL    SFO    SFO    NOR    NOR
2     3   NOR   NOR   LAR   LAR   NOR  ...    SFO    SFO    NWE    NOR    SFO    SFO
3     4   LAR   LAR   DAL   DAL   LAR  ...    SEA    SEA    NOR    KAN    KAN    KAN
4     5   PHI   PHI   BAL   GNB   DAL  ...    GNB    NOR    SEA    NWE    SEA    NWE

[5 rows x 18 columns]

In [0]:
def pull_stats(df, col, p, w, o):
    opp = o
    if (df[col].loc[(df['Player']==p) & (df['Week']==w)].empty):
        stat = 0
    else:
        stat = df[col].loc[(df['Player']==p) & (df['Week']==w)].iloc[0]
        opp = df['Opp'].loc[(df['Player']==p) & (df['Week']==w)].iloc[0]
    return stat, opp

In [0]:
def scoring(p, w):
    opponent = 'Bye'

    # Passing TD
    pass_td, opponent = pull_stats(qb_df, 'Pass TD', p, w, opponent)

    # Receiving TD
    rec_td, opponent = pull_stats(rec_df, 'Rec TD', p, w, opponent)

    # Rushing TD
    rush_td, opponent = pull_stats(rush_df, 'Rush TD', p, w, opponent)
  
    # Passing Yards
    pass_yds, opponent = pull_stats(qb_df, 'Pass Yds', p, w, opponent)

    # Receiving Yards
    rec_yds, opponent = pull_stats(rec_df, 'Rec Yds', p, w, opponent)

    # Rushing Yards
    rush_yds, opponent = pull_stats(rush_df, 'Rush Yds', p, w, opponent)

    # Interceptions
    qb_int, opponent = pull_stats(qb_df, 'Pass Int', p, w, opponent)

    score = (pass_td * 4) + (rec_td * 6) + (rush_td * 6) + (pass_yds / 25) + (rec_yds / 10) + (rush_yds / 10) - (qb_int *2)
    return score, opponent

In [0]:
def rank(p, w):
    ranking = 1
    return ranking

In [10]:
player = 'Tom Brady'
week = 17

week1_score, oppt = scoring(player, week)
oppt

'MIA'

In [0]:
def add_row(df, p, value_list):
    df = df.append({'Player': p,
                    'Week1': value_list[0], 
                    'Week2': value_list[1],
                    'Week3': value_list[2], 
                    'Week4': value_list[3], 
                    'Week5': value_list[4], 
                    'Week6': value_list[5], 
                    'Week7': value_list[6], 
                    'Week8': value_list[7], 
                    'Week9': value_list[8],
                    'Week10': value_list[9],
                    'Week11': value_list[10],
                    'Week12': value_list[11],
                    'Week13': value_list[12],
                    'Week14': value_list[13],
                    'Week15': value_list[14],
                    'Week16': value_list[15], 
                    'Week17': value_list[16] 
                     }, ignore_index=True)
    return df

In [0]:
def compare(p1, p2):

    column_names = ['Player', 'Week1', 'Week2', 'Week3', 'Week4', 'Week5', 'Week6', 'Week7', 'Week8', 'Week9',
                    'Week10', 'Week11', 'Week12', 'Week13', 'Week14', 'Week15', 'Week16', 'Week17']
    df1 = pd.DataFrame(columns = column_names)
    df2 = pd.DataFrame(columns = column_names)
    weekly_score1 = []
    weekly_score2 = []
    weekly_rank1 = []
    weekly_rank2 = []

    for i in range(1,18):
        score1, opp1 = scoring(p1, i)
        weekly_score1.append(score1)
        weekly_rank1.append(opp1)

    for i in range(1,18):
        score2, opp2 = scoring(p2, i)
        weekly_score2.append(score2)
        weekly_rank2.append(opp2)

    df1 = add_row(df1, p1, weekly_score1)
    df1 = add_row(df1, p2, weekly_score2)

    df2 = add_row(df2, p1, weekly_rank1)
    df2 = add_row(df2, p2, weekly_rank2)
  
    return df1, df2

In [0]:
player1 = 'Tom Brady'
player2 = 'Jimmy Garoppolo'

compare_df, ranking_df = compare(player1, player2)

In [14]:
compare_df.head()

            Player  Week1  Week2  Week3  ...  Week14  Week15  Week16  Week17
0        Tom Brady  25.64  18.56  20.24  ...   10.76   13.12   14.84   14.84
1  Jimmy Garoppolo   8.64  22.64  11.08  ...   27.96   12.60   10.42   11.40

[2 rows x 18 columns]

In [15]:
ranking_df.head()

            Player Week1 Week2 Week3 Week4  ... Week13 Week14 Week15 Week16 Week17
0        Tom Brady   PIT   MIA   NYJ   BUF  ...    HOU    KAN    CIN    BUF    MIA
1  Jimmy Garoppolo   TAM   CIN   PIT   Bye  ...    BAL    NOR    ATL    LAR    SEA

[2 rows x 18 columns]