<a href="https://colab.research.google.com/github/JimKing100/nfl-test/blob/master/Rookie_Kickers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Installs
%%capture
!pip install category_encoders==2.0.0

In [0]:
# Import libraries
import pandas as pd
import numpy as np

from sklearn.preprocessing import OrdinalEncoder
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline
import category_encoders as ce
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.impute import SimpleImputer
from xgboost import XGBRegressor


import category_encoders as ce

In [0]:
player_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/players_full.csv')
actuals_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/actuals_rookie_kickers.csv')

In [4]:
player_df.head()

  player          first     last                 name  ...  col   dv jnum  dcp
0     SF  San Francisco    49ers  San Francisco 49ers  ...  NaN  NaN  NaN  NaN
1    CHI        Chicago    Bears        Chicago Bears  ...  NaN  NaN  NaN  NaN
2    CIN     Cincinnati  Bengals   Cincinnati Bengals  ...  NaN  NaN  NaN  NaN
3    BUF        Buffalo    Bills        Buffalo Bills  ...  NaN  NaN  NaN  NaN
4    DEN         Denver  Broncos       Denver Broncos  ...  NaN  NaN  NaN  NaN

[5 rows x 23 columns]

In [5]:
actuals_df.head()

               player    first        last  ... game14 game15  game16
0      Adam Vinatieri     Adam   Vinatieri  ...      0      0       0
1         Matt Bryant     Matt      Bryant  ...     12      8       4
2        Robbie Gould   Robbie       Gould  ...      3      0       0
3         Mike Nugent     Mike      Nugent  ...      3     13       0
4  Stephen Gostkowski  Stephen  Gostkowski  ...      7     10      13

[5 rows x 21 columns]

In [0]:
# The main code for iterating through the kicker list, calculating the points and adding the rows
# to the final_df dataframe.
column_names = ['player',
                'position1',
                'height',
                'weight',
                'forty',
                'bench',
                'vertical',
                'broad',
                'shuttle',
                'cone',
                'arm',
                'hand',
                'dpos',
                'col',
                'dv',
                'points' 
                ]

player_list = actuals_df['player'].tolist()

final_df = pd.DataFrame(columns = column_names)

for player in player_list:

    position1 = 'K'
    height = player_df['height'].loc[(player_df['name']==player)].iloc[0]
    weight = player_df['weight'].loc[(player_df['name']==player)].iloc[0]
    forty = player_df['forty'].loc[(player_df['name']==player)].iloc[0]
    bench = player_df['bench'].loc[(player_df['name']==player)].iloc[0]
    vertical = player_df['vertical'].loc[(player_df['name']==player)].iloc[0]
    broad = player_df['broad'].loc[(player_df['name']==player)].iloc[0]
    shuttle = player_df['shuttle'].loc[(player_df['name']==player)].iloc[0]
    core = player_df['cone'].loc[(player_df['name']==player)].iloc[0]
    arm = player_df['arm'].loc[(player_df['name']==player)].iloc[0]
    hand = player_df['hand'].loc[(player_df['name']==player)].iloc[0]
    dpos = player_df['dpos'].loc[(player_df['name']==player)].iloc[0]
    college = player_df['col'].loc[(player_df['name']==player)].iloc[0]
    division = player_df['dv'].loc[(player_df['name']==player)].iloc[0]
    points = actuals_df.loc[(actuals_df['name']==player)].iloc[0, 5:21].sum()

    final_df = final_df.append({'player': player,
                                'position1': position1,
                                'height': height,
                                'weight': weight,
                                'forty': forty,
                                'bench': bench,
                                'vertical': vertical,
                                'broad': broad,
                                'shuttle': shuttle,
                                'cone': core,
                                'arm': arm,
                                'hand': hand,
                                'dpos': dpos,
                                'col': college,
                                'dv': division,
                                'points': points 
                                }, ignore_index=True)

In [7]:
final_df.head()

               player position1  ...                      dv  points
0      Adam Vinatieri         K  ...                       0       0
1         Matt Bryant         K  ...                  Big 12     106
2        Robbie Gould         K  ...                 Big Ten      83
3         Mike Nugent         K  ...                 Big Ten      92
4  Stephen Gostkowski         K  ...  Conference USA (C-USA)     117

[5 rows x 16 columns]